# Infrastructure
infrastructure/terraform/terraform.tfvars
infrastructure/terraform/.terraform/
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
infrastructure/terraform/tfplan
infrastructure/kubeconfig

# Ansible
infrastructure/ansible/inventory/
infrastructure/ansible/group_vars/

# Secrets
.env
*.pem
*.key
id_rsa
id_rsa.pub

# OS
.DS_Store
Thumbs.db

